<?xml version="1.0" ?>
<robot name="rb3_730e">
  <material name="black">
    <color rgba="0.10000000149011612 0.10000000149011612 0.10000000149011612 1.0"/>
  </material>
  <material name="gray_30">
    <color rgba="0.30000001192092896 0.30000001192092896 0.30000001192092896 1.0"/>
  </material>
  <material name="gray_80">
    <color rgba="0.800000011920929 0.800000011920929 0.800000011920929 1.0"/>
  </material>
  <material name="dark_gray">
    <color rgba="0.07227200269699097 0.09084200114011765 0.09758699685335159 1.0"/>
  </material>
  <link name="world"/>
  <link name="link0">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link0/link0_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="dark_gray"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link0/link0_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link0/link0_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link0/link0_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link0/link0_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 -1.5708"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link0.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link1">
    <inertial>
      <origin xyz="0.000101 -0.003241 -0.017587" rpy="0.0 0.0 0.0"/>
      <mass value="2.058"/>
      <inertia ixx="0.003" iyy="0.003" izz="0.002" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link1/link1_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link1/link1_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link1/link1_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link1/link1_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link1/link1_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link1.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link2">
    <inertial>
      <origin xyz="-4.9e-05 -0.095326 0.121743" rpy="0.0 0.0 0.0"/>
      <mass value="4.227"/>
      <inertia ixx="0.075" iyy="0.073" izz="0.005" ixy="0" ixz="0" iyz="0"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_5.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_6.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_7.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_8.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_9.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link2/link2_10.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link2/link2_hull_000.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link2/link2_hull_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link2/link2_hull_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link3">
    <inertial>
      <origin xyz="0.0 -0.004 0.026" rpy="0.0 0.0 0.0"/>
      <mass value="1.45"/>
      <inertia ixx="0.02" iyy="0.018" izz="0.003" ixy="0" ixz="0" iyz="0.004"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link3/link3_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link3/link3_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link3/link3_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link3/link3_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link3/link3_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link3/link3_5.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link3.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link4">
    <inertial>
      <origin xyz="0.0 -0.065 0.264" rpy="0.0 0.0 0.0"/>
      <mass value="1.798"/>
      <inertia ixx="0.02" iyy="0.018" izz="0.003" ixy="0" ixz="0" iyz="0.004"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link4/link4_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link4/link4_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link4/link4_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link4/link4_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link4/link4_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link4/link4_hull_000.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link4/link4_hull_001.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link4/link4_hull_002.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link4/link4_hull_003.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link5">
    <inertial>
      <origin xyz="0.0 -0.001 0.017" rpy="0.0 0.0 0.0"/>
      <mass value="0.944"/>
      <inertia ixx="0.000776694" iyy="0.000786695" izz="0.000515123" ixy="5.052e-06" ixz="-5.306e-06" iyz="-1.7419e-05"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link5/link5_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link5/link5_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link5/link5_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link5/link5_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link5.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="link6">
    <inertial>
      <origin xyz="-0.001 -0.001 0.068" rpy="0.0 0.0 0.0"/>
      <mass value="0.05"/>
      <inertia ixx="2.6302e-05" iyy="1.6887e-05" izz="3.5232e-05" ixy="-3.4e-07" ixz="4.57e-07" iyz="1.48e-07"/>
    </inertial>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_0.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="black"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_1.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_2.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_3.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_4.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_80"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_5.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/link6/link6_6.obj" scale="1.0 1.0 1.0"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
    <collision>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/collision/link6.stl" scale="1.0 1.0 1.0"/>
      </geometry>
    </collision>
  </link>
  <link name="tcp">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
    </visual>
  </link>
  <link name="attachment_site">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <sphere radius="0.0025"/>
      </geometry>
    </visual>
  </link>
  <!-- Robotous RFT64-6A01 frames embedded in the combined Pika tool CAD.
       The sensor mesh occupies attachment_site z=0.015..0.045 m: a 15 mm
       robot-side adapter followed by the 30 mm sensor body. The measurement
       origin is the RFT64 sensor_site at the tool-side face. The +90 deg yaw
       matches the baked Pika/RFT CAD orientation; controller wrench-axis
       acceptance is still pending. -->
  <link name="ft_sensor_base"/>
  <link name="ft_sensor_measurement"/>
  <!-- GUI-ONLY articulated gripper. Base = pika_gripper.STL minus the two finger
       components (the +90deg about Z visual rotation is baked into the exported
       meshes, so the visual origin is identity here). The two fingers are separate
       prismatic links so the GUI can show continuous open/close. NOTE: this URDF is
       for the viewer only; the C++ Pinocchio FK/IK uses rb3_730e.urdf (extra
       actuated joints would change its DOF). Regenerate from rb3_730e.urdf if the
       arm chain changes. -->
  <link name="tool">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/tool/pika_gripper_base.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
  </link>
  <link name="finger_left">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/tool/pika_finger_left.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
  </link>
  <link name="finger_right">
    <visual>
      <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
      <geometry>
        <mesh filename="../meshes/robots/rb3_730e/visual/tool/pika_finger_right.STL" scale="0.001 0.001 0.001"/>
      </geometry>
      <material name="gray_30"/>
    </visual>
  </link>
  <joint name="attachment_site_joint" type="fixed">
    <parent link="link6"/>
    <child link="attachment_site"/>
    <origin xyz="0.0 0.0 0.1" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="ft_sensor_base_joint" type="fixed">
    <parent link="attachment_site"/>
    <child link="ft_sensor_base"/>
    <origin xyz="0.0 0.0 0.015" rpy="0.0 0.0 1.5707963267948966"/>
  </joint>
  <joint name="ft_sensor_measurement_joint" type="fixed">
    <parent link="ft_sensor_base"/>
    <child link="ft_sensor_measurement"/>
    <origin xyz="0.0 0.0 0.030" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="tool_joint" type="fixed">
    <parent link="attachment_site"/>
    <child link="tool"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="tcp_joint" type="fixed">
    <parent link="attachment_site"/>
    <child link="tcp"/>
    <!-- Pika gripper fingertip plane = pika_gripper.STL z-max (247.642 mm), measured
         from attachment_site (flange +0.1 m). The older 0.21616 matched the legacy
         tool.STL tip. Disable by removing <origin> (URDF then defaults to identity,
         tcp == attachment_site). -->
    <origin xyz="0.0 0.0 0.247642" rpy="0.0 0.0 0.0"/>
  </joint>
  <joint name="link0_fixed" type="fixed">
    <parent link="world"/>
    <child link="link0"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 1.5708"/>
  </joint>
  <joint name="base_joint" type="revolute">
    <parent link="link0"/>
    <child link="link1"/>
    <origin xyz="0.0 0.0 0.1453" rpy="0.0 0.0 -1.5708"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-6.2832" upper="6.2832" effort="150.0" velocity="3.141592653589793"/>
  </joint>
  <joint name="shoulder_joint" type="revolute">
    <parent link="link1"/>
    <child link="link2"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-6.2832" upper="6.2832" effort="150.0" velocity="3.141592653589793"/>
  </joint>
  <joint name="elbow_joint" type="revolute">
    <parent link="link2"/>
    <child link="link3"/>
    <origin xyz="0.0 -0.00645 0.286" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <!-- elbow (J3) physical range on RB3-730E is +/-150 deg (+/-2.618 rad); the joint
         cannot reach +/-360 deg (catalog). Kept at the true physical range to mirror the
         kinematics URDF (rb3_730e.urdf) so IK never selects an unreachable elbow branch.
         See docs/joint_range_policy.md "Kinematics Alignment". -->
    <limit lower="-2.618" upper="2.618" effort="150.0" velocity="3.141592653589793"/>
  </joint>
  <joint name="wrist1_joint" type="revolute">
    <parent link="link3"/>
    <child link="link4"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-6.2832" upper="6.2832" effort="150.0" velocity="3.141592653589793"/>
  </joint>
  <joint name="wrist2_joint" type="revolute">
    <parent link="link4"/>
    <child link="link5"/>
    <origin xyz="0.0 0.0 0.344" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 1.0 0.0"/>
    <limit lower="-6.2832" upper="6.2832" effort="28.0" velocity="3.141592653589793"/>
  </joint>
  <joint name="wrist3_joint" type="revolute">
    <parent link="link5"/>
    <child link="link6"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="0.0 0.0 1.0"/>
    <limit lower="-6.2832" upper="6.2832" effort="28.0" velocity="3.141592653589793"/>
  </joint>
  <!-- Jaw axis = X (baked frame). 0 = STL pose (open, about 94 mm inner gap);
       closing drives finger_left +X and finger_right minus X toward the center.
       The GUI maps gripper percent to these positions (0% closed, 100% open). -->
  <joint name="finger_left_joint" type="prismatic">
    <parent link="attachment_site"/>
    <child link="finger_left"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="0.0" upper="0.05" effort="20.0" velocity="0.5"/>
  </joint>
  <joint name="finger_right_joint" type="prismatic">
    <parent link="attachment_site"/>
    <child link="finger_right"/>
    <origin xyz="0.0 0.0 0.0" rpy="0.0 0.0 0.0"/>
    <axis xyz="1.0 0.0 0.0"/>
    <limit lower="-0.05" upper="0.0" effort="20.0" velocity="0.5"/>
  </joint>
</robot>
