###################################################################
# C++
###################################################################

# Visual Studio
**/.vs
**/bin
**/obj
**/Release
**/Debug
**/x64
**/x86
*.user

# Visual Studio Code
**/.vscode
#.vscode/*
#!.vscode/settings.json
#!.vscode/tasks.json
#!.vscode/launch.json
#!.vscode/extensions.json
*.code-workspace

# Temporary Files
*.diff
*.err
*.log
*.orig
*.rej
*.swo
*.swp
*.vi

# Compressed Files
*.zip
*.rar
*.gzip
*.deb
*.7z
*.tar.gz
*.xz
*.alz

# Build
build
*.so

# Version
**/version.h

# Ctags
**/tags

# Cython
cython/**/src
cython/**/*.py
cython/**/*.cpp
!cython/**/setup.py
!cython/**/*.pyx

# ETC
example/config/example
!example/config/example/gen.conf
!example/config/example/log.conf
example/config/test
!example/config/test/gen.conf
!example/config/test/log.conf

# Doxygen
docs

###################################################################
# Python
###################################################################

# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Distribution / packaging
.Python
build/
install/
develop-eggs/
dist/
downloads/
eggs/
.eggs/
lib/
lib64/
parts/
sdist/
var/
wheels/
share/python-wheels/
*.egg-info/
